/* Globals */
body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: burlywood;
}

img{
    border-radius: 40%;
}

a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* Utilities */
header nav{
    margin-top: 2.5rem;
}

nav a{
    margin-right: 2rem;
    
}

header img{
    width: 80px;
}